* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-block {
    display: block;
}

.b-text {
    font-weight: 600;
}

.mb-4 {
    margin-bottom: 4px;
}

.mb-6 {
    margin-bottom: 6px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-10 {
    margin-bottom: 10px;
}

.link-tag:hover {
    cursor: pointer;
    text-decoration: underline;
}